.logo:hover stop:nth-child(1) {
  animation: AnimateGradientFirst .6s ease infinite;
}

.logo:hover stop:nth-child(2) {
  animation: AnimateGradientSecond .6s ease infinite;
}

.logo:hover stop:nth-child(3) {
  animation: AnimateGradientThird .6s ease infinite;
}




/* {
  stop-color: linear-gradient(270deg, #43b146, #f3921e, #ed2a2d);
  -webkit-animation: AnimateGradient 2s ease infinite;
  -moz-animation: AnimateGradient 2s ease infinite;
  animation: AnimateGradient 2s ease infinite;
}
#gradient {

  stop:nth-child(2) {
    stop-color: #00FFEA;
  }
} */

@-webkit-keyframes AnimateGradientFirst {
  0%{stop-color:#ed2a2d}
  33%{stop-color:#43b146}
  66%{stop-color:#f3921e}
  99%{stop-color:#ed2a2d}
}
@-moz-keyframes AnimateGradientFirst {
  0%{stop-color:#ed2a2d}
  33%{stop-color:#43b146}
  66%{stop-color:#f3921e}
  99%{stop-color:#ed2a2d}
}
@keyframes AnimateGradientFirst {
  0%{stop-color:#ed2a2d}
  33%{stop-color:#43b146}
  66%{stop-color:#f3921e}
  99%{stop-color:#ed2a2d}
}

@-webkit-keyframes AnimateGradientSecond {
  0%{stop-color:#f3921e}
  33%{stop-color:#ed2a2d}
  66%{stop-color:#43b146}
  99%{stop-color:#f3921e}
}
@-moz-keyframes AnimateGradientSecond {
  0%{stop-color:#f3921e}
  33%{stop-color:#ed2a2d}
  66%{stop-color:#43b146}
  99%{stop-color:#f3921e}
}
@keyframes AnimateGradientSecond {
  0%{stop-color:#f3921e}
  33%{stop-color:#ed2a2d}
  66%{stop-color:#43b146}
  99%{stop-color:#f3921e}
}

@-webkit-keyframes AnimateGradientThird {
  0%{stop-color:#43b146}
  33%{stop-color:#f3921e}
  66%{stop-color:#ed2a2d}
  99%{stop-color:#43b146}
}
@-moz-keyframes AnimateGradientThird {
  0%{stop-color:#43b146}
  33%{stop-color:#f3921e}
  66%{stop-color:#ed2a2d}
  99%{stop-color:#43b146}
}
@keyframes AnimateGradientThird {
  0%{stop-color:#43b146}
  33%{stop-color:#f3921e}
  66%{stop-color:#ed2a2d}
  99%{stop-color:#43b146}
}
