@import '~antd/dist/antd.less';

@primary-color: #0d41e1; // primary color for all components
@secondary-color: #6085f7; // primary color for all components
@border-radius-base: .3125rem;
@body-background: #f0f2f5;
@box-shadow-base: 0 0 12px 0 rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 20%);

.d-flex {
  display: flex;
  height: auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.p-0 {
  padding: 0;
}

.header-p {
  padding: 1rem 0;
}

.page-title {
  margin-bottom: 1rem;
  padding: .5rem 2rem;

  & .ant-page-header-heading-left {
    margin: 0;
  }
  & .ant-page-header-content {
    padding-top: 8px;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 0rem 1.125rem;
  }
}

.site-layout-content, .ant-page-header {
  background-color: #111111;
}

.ant-page-header-ghost {
  background-color: transparent;
}

.ant-layout-header {
  height: auto;
  line-height: normal;
}

.ant-layout-header {
  height: auto;
  line-height: normal;
}

.ant-form-item-required {
  color: rgb(58, 58, 95);
  margin: 10px 0px;
  opacity: 0.5;
}

.ant-form-item-label > label {
  font-size: 12px;
  font-weight: 500;
}

.ant-form-vertical .ant-form-item-label, .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label {
  padding-bottom: 4px !important;
}

.ant-input-affix-wrapper > input.ant-input {
  padding: inherit;
  font-size: 1rem;
}
